@model MusicPlataform.Client.Models.ArTrackViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<div class="sidebar">
    <h2>Tu biblioteca</h2>
    <a href="#">Mi lista nº 1</a>
    <a href="#">Mi lista nº 2</a>
</div>

<div class="main">
    <h2 class="section-title">Artistas destacados</h2>
    <div class="artists-row">
        @foreach (var artist in Model.Artistas)
        {
            var imageUrl = string.IsNullOrEmpty(artist.ImageUrl)
            ? "/img/default-artist.jpg"
            : artist.ImageUrl.Replace("\\", "/");

            <a href="@Url.Action("ArtistaDetalle", "ArTrack", new { id = artist.Id })" class="artist-card-link">
                <div class="artist-card">
                    <img src="@imageUrl" alt="@artist.Name" />
                    <p class="title"><strong>@artist.Name</strong></p>
                    <p>
                        @(string.IsNullOrEmpty(artist.Bio)
                                            ? "Sin biografía"
                                            : artist.Bio.Substring(0, Math.Min(60, artist.Bio.Length)) + "...")
                </p>
                @if (User.Identity.IsAuthenticated)
                    {
                        <button class="play-button">&#9658;</button>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Users", new { returnUrl = Url.Action("Index", "ArTrack") })" class="play-button">&#9658;</a>
                    }
                </div>
            </a>

        }
    </div>
</div>

<div class="main">
    <h2 class="section-title">Canciones destacadas</h2>
    <div class="artists-row">
        @foreach (var track in Model.Tracks)
        {
            <div class="artist-card">
                <p class="title"><strong>@track.Title</strong></p>
                <p>Duración: @(TimeSpan.FromSeconds(track.DurationSeconds).ToString(@"mm\:ss"))</p>
                <p>Artista: @track.Artist</p>
                <p>Género: @track.Genre</p>

                @if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(track.AudioUrl))
                {
                    <button class="play-button" onclick="playTrack('@track.AudioUrl', '@track.Title', '@track.Artist', '/img/default-imagen.webp')">&#9658;</button>
                }
                else
                {
                    <a href="@Url.Action("Login", "Users", new { returnUrl = Url.Action("Index", "ArTrack") })" class="play-button">&#9658;</a>
                }

            </div>

        }
    </div>
</div>
